<% unless current_user.team.present? %>
  <div class="create-team text-center">
    <%= form_with(model: @team, local: true) do |form| %>
      <div class="field">
        <h3><%= form.label :name, "Nomeie o seu Time" %></h3>
        <%= form.text_field :name, class: "field-name" %>
      </div>

      <div class="actions">
        <%= form.submit "Criar Time", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user.team.present? %>
<div class="created-teams">
  <h2 class="text-center"><%= current_user.team.name %></h2>
  <div class="text-center">
    
      <h4><%= "Saldo: #{number_to_currency(current_user.team.cash)}" %></h4>
      <div class="text-center">
      <%= link_to 'Jogar', team_path(current_user.team), class: 'btn btn-primary' %>
      </div>
  </div>
</div>
<% end %>

<%= image_tag 'create_team.jpeg', class: 'new-team' %>
