<% unless current_user.team.present? %>
  <div class="create-team text-center">
    <%= form_with(model: @team, local: true) do |form| %>
      <% if @team.errors.any? %>
        <div class="error-messages">
          <h4><%= @team.errors.full_messages.join(", ") %></h4>
        </div>
      <% end %>
      <div class="field">
        <h3><%= form.label :name, "Nomeie o seu Time" %></h3>
        <%= form.text_field :name, class: "field-name" %>
      </div>
      <div class="actions">
        <%= form.submit "Criar Time", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user.team.present? %>
<div class="created-teams">
  <div class="text-center name-edit-delete" >
    <div class="h4"><%= current_user.team.name %></div>
    <div class="link-container">
      <div>
      <%= link_to edit_team_path(current_user.team) do %>
        <%= image_tag 'escrever.png', alt: 'Editar', class: "edit-team-ico" %>
      <% end %>
      </div>
      <div>
      <%= link_to team_path(current_user.team), method: :delete, data: { confirm: 'Você tem certeza?' } do %>
        <%= image_tag 'excluir.png', alt: 'Excluir', class: 'delete-team-ico' %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="text-center cash-box">    
      <h4><%= "Saldo: #{number_to_currency(current_user.team.cash)}" %></h4>
      <div class="text-center">
      <%= link_to 'Jogar', team_path(current_user.team), class: 'btn btn-primary' %>
      </div>
  </div>
</div>
<% end %>

<%= image_tag 'create_team.jpeg', class: 'new-team' %>
