<div class="create-team text-center" >
  <%= form_with(model: @team, local: true) do |form| %>
    <div class="field">
    <h2><%= form.label :nome %></h2>
    <%= form.text_field :name %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="actions">
    <%= form.submit "Crie o seu Time",class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="created-teams">
  <% if current_user.teams.any? %>
    <h2>Times criados:</h2>
    <ul>
      <% current_user.teams.each do |team| %>
        <div>
          <%= "#{team.name} #{number_to_currency(team.cash)}" %>
          <%= link_to 'Jogar', team_path(team), class: "btn btn-primary" %>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>

<%= image_tag 'create_team.jpeg', class: 'new-team' %>
