<div class="container-teams-show">
  <% if current_user.team.present? %>
    <div class="show-teams">
      <h2 class="text-center">Seu time</h2>
      <div class="text-center">
        <%= "#{current_user.team.name} - #{number_to_currency(current_user.team.cash)}" %>
      </div>
    </div>
  <% end %>


  <div class="show-players-team">
  <h2 class="text-center">Jogadores</h2>
    <div class="scrollable">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="name-column">Name</th>
            <th class="position-column">P</th>
            <th class="ac-column">Ag</th>
            <th class="sp-column">St</th>
            <th class="st-column">Sp</th>              
            <th class="ba-column">Ba</th>
            <th class="ag-column">Ac</th>
          </tr>
        </thead>
        <tbody>
          <% @team.players.each do |player| %>
            <tr>
              <td><%= player.name %></td>
              <td><%= player.position %></td>
              <td><%= player.agility %></td>
              <td><%= player.strength %></td>
              <td><%= player.speed %></td>                
              <td><%= player.balance %></td>
              <td><%= player.accuracy %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%= link_to 'Comprar', team_players_path(@team), class: 'btn btn-success' %>
  </div>

</div>
<%= link_to 'Iniciar Partida', new_match_path, class: 'btn btn-warning' %>
<%= link_to 'Back', new_team_path, class: 'btn btn-primary' %>

<%= image_tag 'create_team.jpeg', class: 'new-team' %>
