<div class="container-teams-show">
  <% if current_user.team.present? %>
    <div class="show-teams">
      <div>
        <div class="team-box text-center">
          <h2 class="text-center"><%= "#{current_user.team.name}" %></h2>
          <div class="text-center">
            <h5><%= "Saldo: #{number_to_currency(current_user.team.cash)}" %></h5>
          </div>
        </div>
        <div class="match-box text-center">
          <h2>Inicie uma Partida</h2>
          <%= link_to 'Iniciar Partida', new_match_path, class: 'btn btn-warning' %>            
        </div>
        <div class="match-box text-center">
          <h2>Inicie um Campeonato</h2>
          <%= link_to 'Iniciar Partida', new_match_path, class: 'btn btn-danger' %>            
        </div>
      <%= link_to 'Voltar', new_team_path, class: 'btn btn-secondary' %>   
      </div>
    </div>
  <% end %>

  <div class="show-players-team">
  <h4 class="text-center">Seus Jogadores</h4>
    <div class="scrollable">
      <table class="table table-striped">
        <thead>
          <tr class="sticky-header">
            <th class="name-column text-center">Name</th>
            <th class="position-column text-center">P</th>
            <th class="level-column text-center">Level</th>
            <th class="yellow-card-column text-center"><%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
            <th class="red-card-column text-center"><%= image_tag 'red_card.png', class: 'red-card-icon' %></th>             
            <th class="goal-column text-center"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
            <th class="injury-column text-center"><%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
          </tr>
        </thead>
        <tbody>
          <% @team.players.sort_by { |player| ['G', 'D', 'M', 'A'].index(player.position) }.each do |player| %>
            <tr>
            <td class="name-column text-center"><%= player.name %></td>
            <td class="position-column text-center"><%= player.position %></td>
            <td class="level-column text-center"><%= player.level %></td>
            <td class="yellow-card-column text-center"><%= player.yellow_card %></td>
            <td class="red-card-column text-center"><%= player.red_card %></td>
            <td class="goal-column text-center"><%= player.goal_scored %></td>
            <td class="injury-column text-center"><% if player.injury %>
                  <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                  <% else %>
                  <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                <% end %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= link_to 'Comprar e/ou Vender', team_players_path(@team), class: 'btn btn-success' %>
    </div>
  </div>
<%= image_tag 'create_team.jpeg', class: 'new-team' %>
</div>
