<div class="container-players-index">
  <div class="left">
    <%= form_with(model: @team, url: sell_players_team_path(@team), method: :patch) do |form| %>
      <h3 class="text-center flex-container">
      <%= link_to 'Voltar', team_path(@team), class: 'btn btn-secondary' %>
      <span class="team-cash"><%= number_to_currency(@team.cash) %></span>
      </h3> 
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th class="sell-column">Sell</th>
              <th class="name-column">Name</th>
              <th class="position-column">P</th>
              <th class="ac-column">Ag</th>
              <th class="sp-column">St</th>
              <th class="st-column">Sp</th>              
              <th class="ba-column">Ba</th>
              <th class="ag-column">Ac</th>
              <th class="price-column">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @team.players.each do |player| %>
              <tr>
                <td>
                  <label class="switch">
                    <%= check_box_tag "team[player_ids][]", player.id, false %>
                    <span class="slider"></span>
                  </label>
                </td>
                <td><%= player.name %></td>
                <td><%= player.position %></td>
                <td><%= player.agility %></td>
                <td><%= player.strength %></td>
                <td><%= player.speed %></td>                
                <td><%= player.balance %></td>
                <td><%= player.accuracy %></td>
                <td><%= player.price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= form.submit "Vender Jogadores", class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="right">
    <%= form_with(model: @team, url: buy_players_team_path(@team), method: :patch) do |form| %>
      <h2 class="text-center">Jogadores à venda</h2>
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th class="sell-column">Buy</th>
              <th class="name-column">Name</th>
              <th class="position-column">P</th>
              <th class="ac-column">Ag</th>
              <th class="sp-column">St</th>
              <th class="st-column">Sp</th>              
              <th class="ba-column">Ba</th>
              <th class="ag-column">Ac</th>
              <th class="price-column">Price</th>
            </tr>
          </thead>
          <tbody>
            <% Player.all.reject { |player| @team.players.include?(player) }.each do |player| %>
              <tr>
                <td>
                  <label class="switch">
                    <%= check_box_tag "team[player_ids][]", player.id, false %>
                    <span class="slider"></span>
                  </label>
                </td>
                <td><%= player.name %></td>
                <td><%= player.position %></td>
                <td><%= player.agility %></td>
                <td><%= player.strength %></td>
                <td><%= player.speed %></td>                
                <td><%= player.balance %></td>
                <td><%= player.accuracy %></td>
                <td><%= player.price %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= form.submit "Comprar Jogadores", class: 'btn btn-primary' %>
    <% end %>
  </div>
  <%= image_tag 'team_show.jpeg', class: 'team-show' %>
</div>

