<div class="container-players-index">
  <div class="left">
    <%= form_with(model: @team, url: sell_players_team_path(@team), method: :patch) do |form| %>
      <h3 class="text-center flex-container">
      <%= link_to 'Voltar', team_path(@team), class: 'btn btn-secondary' %>
      <span class="team-cash"><%= number_to_currency(@team.cash) %></span>
      </h3> 
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th class="sell-column text-center"></th>
              <th class="name-column text-center">Name</th>
              <th class="position-column text-center">P</th>
              <th class="level-column text-center">Level</th>
              <th class="text-center"> <%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
              <th class="text-center"> <%= image_tag 'red_card.png', class: 'red-card-icon' %></th>            
              <th class="text-center"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
              <th class="text-center"> <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
              <th class="price-column text-center">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @team.players.sort_by { |player| ['G', 'D', 'M', 'A'].index(player.position) || 4 }.each do |player| %>
              <tr>
                <td>
                  <label class="switch">
                    <%= check_box_tag "team[player_ids][]", player.id, false %>
                    <span class="slider"></span>
                  </label>
                </td>
                <td class="text-center"><%= player.name %></td>
                <td class="text-center"><%= player.position %></td>
                <td class="text-center"><%= player.level %></td>
                <td class="text-center"><%= player.yellow_card %></td>
                <td class="text-center"><%= player.red_card %></td>
                <td class="text-center"><%= player.goal_scored %></td>
                <td class="text-center"><% if player.injury %>
                      <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                      <% else %>
                      <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                    <% end %>
                </td>
                <td class="text-center"><%= number_to_currency(player.price, unit: "$", delimiter: ".", precision: 0) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div style="text-align: center;">
        <%= form.submit "Vender Jogadores", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="right">
    <%= form_with(model: @team, url: buy_players_team_path(@team), method: :patch) do |form| %>
      <h2 class="text-center">Jogadores à venda</h2>
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th class="sell-column text-center"></th>
              <th class="name-column text-center">Name</th>
              <th class="position-column text-center">P</th>
              <th class="level-column text-center">Level</th>
              <th class="text-center"> <%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
              <th class="text-center"> <%= image_tag 'red_card.png', class: 'red-card-icon' %></th>            
              <th class="text-center"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
              <th class="text-center"> <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
              <th class="price-column text-center">Price</th>
            </tr>
          </thead>
          <tbody>
          <% Player.all.reject { |player| @team.players.include?(player) }.sort_by { |player| -player.position }.each do |player| %>
            <tr>
              <td>
                <label class="switch">
                  <%= check_box_tag "team[player_ids][]", player.id, false %>
                  <span class="slider"></span>
                </label>
              </td>
              <td class="text-center"><%= player.name %></td>
              <td class="text-center"><%= player.position %></td>
              <td class="text-center"><%= player.level %></td>
              <td class="text-center"><%= player.yellow_card %></td>
              <td class="text-center"><%= player.red_card %></td>
              <td class="text-center"><%= player.goal_scored %></td>
              <td class="text-center">
                <% if player.injury %>
                  <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                <% else %>
                  <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                <% end %>
              </td>
              <td class="text-center"><%= number_to_currency(player.price, unit: "$", delimiter: ".", precision: 0) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div style="text-align: center;">
      <%= form.submit "Comprar Jogadores", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <%= image_tag 'team_show.jpeg', class: 'team-show' %>
</div>

