<div class="matches-index">
	<div class='container-matches-index'>
		<h1 class='text-center'>Suas partidas</h1>
    <div class="scrollable">
    <table>
    <thead class='text-center sticky-header'>
        <tr>
          <th class="col-home">Casa</th>
          <th class="col-home-score"></th>
          <th class="col-vs"></th>
          <th class="col-away-score"></th>
          <th class="col-away">Visitante</th>
        </tr>
      </thead>
      <tbody class='text-center'>
        <% @matches.select { |match| match.home_team == current_user.team || match.away_team == current_user.team }.each do |match| %>
        <tr>
          <td class="col-home"><%= match.home_team.name %></td>
          <td class="col-home-score"><%= match.home_score %></td>
          <td class="col-vs">X</td>
          <td class="col-away-score"><%= match.away_score %></td>
          <td class="col-away"><%= match.away_team.name %></td>
      <% end %>
    </table>
    </div>
		</table>
		<%= image_tag 'match-new.jpeg', class: 'new-team' %>
	</div>
	<div class="matches-index-buttons">
	<%= link_to 'Voltar ao Time', team_path(@team), class: 'btn btn-secondary' %>
	<%= link_to 'Nova Partida', new_match_path, class: 'btn btn-primary' %>
	</div>
</div>

