<div class="create-match">
<%= form_with(model: @match, url: matches_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :home_or_away_team, "Quer ser o time da casa ou visitante?" %>
    <%= form.select :home_or_away_team, options_for_select([['Casa', 'home_team'], ['Visitante', 'away_team']]), {}, { class: 'rounded-select' } %>
  </div>

  <div class="field">
    <%= form.label :opponent_team, "Escolha o time adversário:" %>
    <%= form.collection_select :opponent_team_id, Team.where(user_id: nil), :id, :name, {}, { class: 'rounded-select' } %>
  </div>

  <% if current_user.team %>
  <%= form.hidden_field :user_team_id, value: current_user.team.id %>
  <% else %>
    <p>Você não tem um time associado. Por favor, associe um time antes de continuar.</p>
  <% end %>

  <div class="actions">
    <%= link_to 'Voltar', team_path(@team), class: 'btn btn-secondary' %>
    <%= form.submit "Criar Partida", class: "btn btn-primary" %>  
  </div>  
<% end %>
</div>

<%= image_tag 'match-new.jpeg', class: 'new-team' %>