<div class="matches-show-container">
  <div class="home-team text-center">
  <h2>Time da casa</h2>
  <%= @match.home_team.name %>
  <h3>Jogadores:</h3>
  <div class="scrollable">
    <table class="table table-striped">
      <thead class="fixed-header">
        <tr>
          <th class="th-name">Name</th>
          <th class="th-position">P</th>
          <th class="th-level">Level</th>
          <th class="th-yellow-card"><%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
          <th class="th-red-card"><%= image_tag 'red_card.png', class: 'red-card-icon' %></th>  
          <th class="th-goal-ball"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
          <th class="th-injury"><%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
        </tr>
      </thead>
      <tbody>
        <% @match.home_team.players.sort_by { |player| ["G", "D", "M", "A"].index(player.position) || 4 }.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.position %></td>
            <td><%= player.level %></td>
            <td><%= player.yellow_card %></td>
            <td><%= player.red_card %></td>
            <td><%= player.goal_scored %></td>
            <td><% if player.injury %>
                  <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                  <% else %>
                  <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>
  </div>
  <div class="score text-center">
    <div id="extra-content" style="display: none;">
      <h2>Placar</h2>
      <%= @match.home_score %> - <%= @match.away_score %>
    </div>
    <div class="timer text-center" id="timer">00:00</div>
  </div>
  <div class="away-team text-center">
    <h2>Visitante</h2>
    <%= @match.away_team.name %>
    <h3>Jogadores:</h3>
    <div class="scrollable">
    <table class="table table-striped">
      <thead class="fixed-header">
        <tr>
          <th class="th-name">Name</th>
          <th class="th-position">P</th>
          <th class="th-level">Level</th>
          <th class="th-yellow-card"><%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
          <th class="th-red-card"><%= image_tag 'red_card.png', class: 'red-card-icon' %></th>  
          <th class="th-goal-ball"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
          <th class="th-injury"><%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
        </tr>
      </thead>
      </thead>
      <tbody>
        <% @match.away_team.players.sort_by { |player| ["G", "D", "M", "A"].index(player.position) || 4 }.each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.position %></td>
            <td><%= player.level %></td>
            <td><%= player.yellow_card %></td>
            <td><%= player.red_card %></td>
            <td><%= player.goal_scored %></td>
            <td><% if player.injury %>
                  <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                  <% else %>
                  <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>
  </div>
</div>

<%= link_to 'Histórico de Partidas', matches_path, class: 'btn btn-primary match-show-back-button' %>

<%= image_tag 'match-new.jpeg', class: 'new-team' %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    startTimer();
  });

  function startTimer() {
    var timerElement = document.getElementById('timer');
    var extraContent = document.getElementById('extra-content');
    var timeElapsed = 0;
    var totalTime = 90 * 60;
    timerElement.style.display = 'block';

    var countdown = setInterval(function() {
      if (timeElapsed >= totalTime) {
        clearInterval(countdown);
        extraContent.style.display = 'block'; 
      } else {
        var minutes = Math.floor(timeElapsed / 60);
        var seconds = timeElapsed % 60;
        timerElement.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
        timeElapsed += 5;
      }
      if (timeElapsed >= 5390) {
        timerElement.style.display = 'none';
      }
      if (timeElapsed == 2725) {
        alert('Fim do primeiro tempo!');
      }
    }, 1);
  }
</script>