<div class="matches-start-match-container">
  <div class="home-team text-center">
    <h2>Time da casa</h2>
    <%= @match.home_team.name %>
    <h3>Jogadores:</h3>
    <div class="scrollable">
      <table class="table table-striped">
        <thead class="fixed-header">
          <tr>
            <th class="name-column">Name</th>
            <th class="position-column">P</th>
            <th class="level-column">Level</th>
            <th class="yellow-card-column"><%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
            <th class="red-card-column"><%= image_tag 'red_card.png', class: 'red-card-icon' %></th>  
            <th class="goal-column"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
            <th class="injury-column"><%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
          </tr>
        </thead>
        <tbody>
          <% @match.home_team.players.sort_by { |player| ["G", "D", "M", "A"].index(player.position) || 4 }.each do |player| %>
            <tr>
              <td class="name-column"><%= player.name %></td>
              <td class="position-column"><%= player.position %></td>
              <td class="level-column"><%= player.level %></td>
              <td class="yellow-card-column"><%= player.yellow_card %></td>
              <td class="red-card-column"><%= player.red_card %></td>
              <td class="goal-column"><%= player.goal_scored %></td>
              <td class="injury-column">
                <% if player.injury %>
                  <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                <% else %>
                  <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>  
      </table>
    </div>
  </div>
  <div class="score text-center">
    <%= form_with url: generate_result_match_path(@match), method: :post, id: 'start-match-form' do %>
      <%= submit_tag 'Iniciar Partida', class: "btn btn-primary", id: 'start-match-button', onclick: "startTimer(event)" %>
    <% end %>
    <div class="timer text-center" id="timer" style="display: none;">00:00</div>
  </div>
  <div class="away-team text-center">
    <h2>Visitante</h2>
    <%= @match.away_team.name %>
    <h3>Jogadores:</h3>
    <div class="scrollable">
      <table class="table table-striped">
        <thead class="fixed-header">
          <tr>
            <th class="name-column">Name</th>
            <th class="position-column">P</th>
            <th class="level-column">Level</th>
            <th class="yellow-card-column"><%= image_tag 'yellow_card.png', class: 'yellow-card-icon' %></th>
            <th class="red-card-column"><%= image_tag 'red_card.png', class: 'red-card-icon' %></th>  
            <th class="goal-column"><%= image_tag 'goal_ball.png', class: 'goal-ball-icon' %></th>
            <th class="injury-column"><%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %></th>
          </tr>
        </thead>
        <tbody>
          <% @match.away_team.players.sort_by { |player| ["G", "D", "M", "A"].index(player.position) || 4 }.each do |player| %>
            <tr>
              <td class="name-column"><%= player.name %></td>
              <td class="position-column"><%= player.position %></td>
              <td class="level-column"><%= player.level %></td>
              <td class="yellow-card-column"><%= player.yellow_card %></td>
              <td class="red-card-column"><%= player.red_card %></td>
              <td class="goal-column"><%= player.goal_scored %></td>
              <td class="injury-column">
                <% if player.injury %>
                  <%= image_tag 'cruz-vermelha.png', class: 'injury-icon' %>
                <% else %>
                  <%= image_tag 'cruz-verde.png', class: 'health-icon' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>  
      </table>
    </div>
  </div>
</div>

<%= link_to 'Voltar', new_match_path, class: 'btn btn-secondary match-start-back-button' %>

<%= image_tag 'match-new.jpeg', class: 'new-team' %>

<script>
  function startTimer(event) {
    event.preventDefault();
    var timerElement = document.getElementById('timer');
    var startButton = document.getElementById('start-match-button');
    var timeElapsed = 0;
    var totalTime = 10;

    var countdown = setInterval(function() {
      if (timeElapsed >= totalTime) {
        clearInterval(countdown);
        document.getElementById('start-match-form').submit();
      } else {
        var minutes = Math.floor(timeElapsed / 60);
        var seconds = timeElapsed % 60;
        timerElement.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
        timeElapsed += 10;
      }
    }, 1);
  }
</script>